@page "{id:int}"
@model reservacion.Pages.Salas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sala</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sala.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sala.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sala.DescripcionUbicacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sala.DescripcionUbicacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sala.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
