@page
@model reservacion.Pages.Reservaciones.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Mis Reservaciones</h1>

<p>
    <a class="btn btn-light" asp-page="Create">Nueva</a>
</p>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservacion[0].FechaReservacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservacion[0].ReservacionDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservacion[0].ReservacionHasta)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Reservacion[0].User)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Reservacion[0].Sala)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservacion) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReservacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservacionDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservacionHasta)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Sala.Nombre)
            </td>
            <td>
                <a class="btn btn-info" asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.ID">Detalles</a> |
                <a class="btn btn-warning" asp-page="./Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br/><br/>
<h3>Consultar Disponibilidad</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="startDate" class="control-label"></label>
                <input asp-for="startDate" class="form-control" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endDate" class="control-label"></label>
                <input asp-for="endDate" class="form-control" />
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sala[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala[0].DescripcionUbicacion)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sala) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionUbicacion)
        </tr>
}
    </tbody>
</table>
